body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    max-width: 100%;
    background-color: hsl(185, 75%, 39%);

}

.images img:first-child  {
    position: absolute;
    top:-150px;
    left: -150px;
    width: 50vw;
}

.images img:nth-child(2) {
    background:url(./images/bg-pattern-bottom.svg) no repeat;
    position: absolute;
    background-size: 5% 20%;
    width: 500px;
    right: 0;
    top: 400px;
}

#container {
    width: 350px;
    height: 400px;
    margin-top: 130px;
    display: grid;
    place-items: center;
    border-radius: 20px;
    background-color: white;
}

.sky {
    width: inherit;
    height: 130px;
    background-image: url(./images/bg-pattern-card.svg);
    margin-top: -2px;
    border-radius: 20px 20px 0 0;
}

img {
    border-radius: 50%;
    margin-top: -50px;
    /* margin-left: 115px; */
}
.header {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.inline {
    display: flex;
    gap: 30px;
}

.state {
    margin: -20px auto -20px auto;
}

.hr {
    height:1px;
    width: inherit;
    background-color: grey;
}

p {
    color: grey;
}

@media screen and (max-width: 800px) {
    .images { display: none;}
}